{% extends 'back_office/layout/_index.html.twig' %}

{% block title %}Nouvel Artiste{% endblock %}

{% block main %}
    <section class="app-section cover" data-navigation-target="section">
        <img src="{{ asset('img/admincover.webp') }}" alt="Administration"/>
        <h1>Nouvel Artiste</h1>
    </section>

    <section class="app-section actions">
        <a href="{{ path('app_back_office_biography_home') }}">
            {{ ux_icon('fa6-solid:circle-arrow-left', {'class': 'app-icon medium'}) }}
            Le Groupe
        </a>
    </section>

    <section class="app-section form">
        {% include 'back_office/biography/artist/_form.html.twig' %}
    </section>
{% endblock %}
