{% extends 'back_office/layout/_index.html.twig' %}

{% block title %}Administration du site{% endblock %}

{% block main %}
    <section class="app-section cover" data-navigation-target="section">
        <img src="{{ asset('img/admincover.webp') }}" alt="Administration"/>
        <h1>Administration du site</h1>
    </section>
{% endblock %}
