{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Les Vidéos{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('uploads/settings/' ~ app_settingsService.settings.siteCover) }}"
             alt="{{ app_settingsService.settings.siteName }}"/>
        <div class="content">
            <h1>Les Vidéos de {{ app_settingsService.settings.siteName }}</h1>
            <p>{{ app_settingsService.settings.siteSlogan }}</p>
        </div>
    </section>

    {% if clips | length > 0 %}
        <section class="app-section">
            <h2>Les Clips</h2>

            {% include 'front_office/video/_player.html.twig' with {'videos': clips} %}
        </section>
    {% endif %}

    {% if lives | length > 0 %}
        <section class="app-section">
            <h2>Les Vidéos Live</h2>

            {% include 'front_office/video/_player.html.twig' with {'videos': lives} %}
        </section>
    {% endif %}
{% endblock %}
