###> sf_feelarsen/local ###
.idea/
.DS_Store
feelarsen.crt
feelarsen.key
/public/uploads/calendar/*
!/public/uploads/calendar/.gitkeep
/public/uploads/discography/*
!/public/uploads/discography/.gitkeep
/public/uploads/settings/*
!/public/uploads/settings/.gitkeep
###< sf_feelarsen/local ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
