{% extends 'base.html.twig' %}

{% block body %}
    {% include 'front_office/_layout/_header.html.twig' %}

    <main class="app-main">
        {% block main %}{% endblock %}
    </main>

    {% include 'front_office/_layout/_footer.html.twig' %}
{% endblock %}
