{% extends 'base.html.twig' %}

{% block body %}
    {% include 'front_office/_layout/_header.html.twig' %}

    <main class="app-main">
        {% block main %}{% endblock %}
    </main>

    <footer class="app-footer">
        <section class="footer-section">FOOTER SECTION</section>
        <section class="footer-section">FOOTER SECTION</section>
        <section class="footer-section">FOOTER SECTION</section>
        <section class="footer-section">FOOTER SECTION</section>
        <p class="copyrights">© {{ 'now' | date('Y') }} {{ app_settingsService.settings.siteName }}</p>
        <p class="legals">Mentions légales</p>
    </footer>
{% endblock %}
