<footer class="app-footer">
    <p class="copyrights">
        © {{ 'now' | date('Y') }} Féelarsen • Tous droits réservés • Crédits photos Cédric Carré
    </p>

    <p class="legals">
        <a href="#">Mentions légales</a>
        •
        <a href="{{ path('app_front_office_home') }}" target="_blank">Voir le site</a>
    </p>
</footer>
