<footer class="app-footer">
    <p class="copyrights">
        © {{ 'now' | date('Y') }} {{ app_settingsService.settings.siteName }} • Tous droits réservés • Réalisation :
        <a href="https://www.bastardsoundsystem.org" target="_blank">Bastard Sound System</a> • Crédits photos :
        Cédric Carré • <a href="{{ path('app_front_office_home') }}" target="_blank">Voir le site</a>
        • <a href="{{ path('app_logout') }}" onclick="return window.confirm('Vous partez ?')">Déconnexion</a>
    </p>
</footer>
