{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}La Discographie{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_class %}front-office{% endblock %}

{% block main %}
    <section class="app-section cover">
        <img src="{{ asset('uploads/settings/' ~ app_settingsService.settings.siteCover) }}"
             alt="{{ app_settingsService.settings.siteName }}"/>
        <div class="content">
            <h1>La Discographie de {{ app_settingsService.settings.siteName }}</h1>
            <p>{{ app_settingsService.settings.siteSlogan }}</p>
        </div>
    </section>

    {% if eps | length > 0 %}
        <section class="app-section">
            <h2>Ses EP</h2>

            {% include 'front_office/discography/_player.html.twig' with {'albums': eps} %}
        </section>
    {% endif %}

    {% if lives | length > 0 %}
        <section class="app-section">
            <h2>Ses Albums Live</h2>

            {% include 'front_office/discography/_player.html.twig' with {'albums': lives} %}
        </section>
    {% endif %}
{% endblock %}
