<section class="app-section cover" data-navigation-target="section">
    <img src="{{ asset('uploads/settings/' ~ app_settingsService.settings.siteCover) }}"
         alt="{{ app_settingsService.settings.siteName }}"/>
    <h1>{{ app_settingsService.settings.sitePunchline | raw }}</h1>
</section>
