<section class="app-section cover" data-navigation-target="section">
    <img src="{{ asset('img/sitecover.jpg') }}" alt="Féelarsen"/>
    <h1>
        La preuve vivante
        <br/>
        que le rock français
        <br/>
        n'est pas mort&nbsp;!
    </h1>
</section>
