<section class="app-section" id="videos" data-navigation-target="section">
    <h2>Ses Clips</h2>

    <div class="app-grid two">
        <div itemscope itemtype="https://schema.org/VideoObject">
            <meta itemprop="name" content="FEELARSEN - Quadragénaire [ Teaser ]"/>
            <meta itemprop="description" content="FEELARSEN - Quadragénaire [ Teaser ]"/>
            <meta itemprop="uploadDate" content="2024-10-09T10:18:05.000Z"/>
            <meta itemprop="thumbnailUrl" content="https://s2.dmcdn.net/v/X8_Nk1d1bYRJ9Wfoe/x120"/>
            <meta itemprop="duration" content="P21S"/>
            <meta itemprop="embedUrl" content="https://geo.dailymotion.com/player/xylto.html?video=x971432"/>
            <script src="https://geo.dailymotion.com/player/xylto.js" data-video="x971432"></script>
        </div>
        {# <div itemscope itemtype="https://schema.org/VideoObject">
            <meta itemprop="name" content="FEELARSEN - Quadragénaire [ Clip Officiel ]"/>
            <meta itemprop="description" content="FEELARSEN - Quadragénaire [ Clip Officiel ]"/>
            <meta itemprop="uploadDate" content="2024-09-28T13:13:04.000Z"/>
            <meta itemprop="thumbnailUrl" content="https://s1.dmcdn.net/v/X4xr-1c-14CMxZSaU/x120"/>
            <meta itemprop="duration" content="P327S"/>
            <meta itemprop="embedUrl" content="https://geo.dailymotion.com/player/xylto.html?video=x96ebum"/>
            <script src="https://geo.dailymotion.com/player/xylto.js" data-video="x96ebum"></script>
        </div> #}
        {# {% for video in clips %}
            {% include '_videoplayer.html.twig' with{'video': video} %}
        {% endfor %} #}
    </div>
</section>

<section class="app-section" id="videos" data-navigation-target="section">
    <h2>Sur Scène</h2>

    <div class="app-grid three">
        <div itemscope itemtype="https://schema.org/VideoObject">
            <meta itemprop="name" content="Atomic Cowboy - Acte II [ Saint-Pierre d'Oléron 2024 ]"/>
            <meta itemprop="description" content="Atomic Cowboy - Acte II [ Saint-Pierre d'Oléron 2024 ]"/>
            <meta itemprop="uploadDate" content="2024-09-28T14:43:36.000Z"/>
            <meta itemprop="thumbnailUrl" content="https://s1.dmcdn.net/v/X4zR-1c-1Or7lkrSS/x120"/>
            <meta itemprop="duration" content="P277S"/>
            <meta itemprop="embedUrl" content="https://geo.dailymotion.com/player/xylto.html?video=x96egvy"/>
            <script src="https://geo.dailymotion.com/player/xylto.js" data-video="x96egvy"></script>
        </div>

        <div itemscope itemtype="https://schema.org/VideoObject">
            <meta itemprop="name" content="Atomic Cowboy - Acte I [ CCM John Lennon 2024 ]"/>
            <meta itemprop="description" content="Atomic Cowboy - Acte I [ CCM John Lennon 2024 ]"/>
            <meta itemprop="uploadDate" content="2024-09-28T14:43:15.000Z"/>
            <meta itemprop="thumbnailUrl" content="https://s2.dmcdn.net/v/X4zVS1c-1PV-71FK4/x120"/>
            <meta itemprop="duration" content="P64S"/>
            <meta itemprop="embedUrl" content="https://geo.dailymotion.com/player/xylto.html?video=x96eh24"/>
            <script src="https://geo.dailymotion.com/player/xylto.js" data-video="x96eh24"></script>
        </div>

        <div itemscope itemtype="https://schema.org/VideoObject">
            <meta itemprop="name" content="Willy [ Saint-Pierre d'Oléron 2024 ]"/>
            <meta itemprop="description" content="Willy [ Saint-Pierre d'Oléron 2024 ]"/>
            <meta itemprop="uploadDate" content="2024-09-28T14:43:11.000Z"/>
            <meta itemprop="thumbnailUrl" content="https://s2.dmcdn.net/v/X4zTQ1c-1PZtjnXfJ/x120"/>
            <meta itemprop="duration" content="P217S"/>
            <meta itemprop="embedUrl" content="https://geo.dailymotion.com/player/xylto.html?video=x96egyi"/>
            <script src="https://geo.dailymotion.com/player/xylto.js" data-video="x96egyi"></script>
        </div>

        {# {% for video in lives %}
            {% include '_videoplayer.html.twig' with{'video': video} %}
        {% endfor %} #}
    </div>
</section>

{# <section class="app-section" id="videos" data-navigation-target="section">
    <h2>Ses photos</h2>

    {% for in in 0..10 %}
        <p>Coucou</p>
    {% endfor %}
</section> #}
