<section class="app-section" id="videos" data-navigation-target="section">
    <h2>Ses Clips</h2>

    {% for in in 0..10 %}
        <p>Coucou</p>
    {% endfor %}
</section>

<section class="app-section" id="videos" data-navigation-target="section">
    <h2>Ses vidéos</h2>

    {% for in in 0..10 %}
        <p>Coucou</p>
    {% endfor %}
</section>

<section class="app-section" id="videos" data-navigation-target="section">
    <h2>Ses photos</h2>

    {% for in in 0..10 %}
        <p>Coucou</p>
    {% endfor %}
</section>
