{% extends 'front_office/layout/_index.html.twig' %}

{% block title %}La preuve vivante que le rock français n'est pas mort{% endblock %}

{% block main %}
    {% include 'front_office/default/_cover.html.twig' %}

    {% for in in 0..50 %}
        <p>Coucou</p>
    {% endfor %}
{% endblock %}
