{% extends 'front_office/layout/_index.html.twig' %}

{% block title %}La preuve vivante que le rock français n'est pas mort{% endblock %}

{% block main %}
    <h1>La preuve vivante que le rock français n'est pas mort&nbsp;!</h1>

    {% for in in 0..50 %}
        <p>Coucou</p>
    {% endfor %}
{% endblock %}
