<!-- Contenu Contacts -->
<section class="content-page">
    <h1>Les Contacts</h1>

    <div class="frame">
        <h2>Contact Artistique</h2>

        <div class="content">
            <div class="grid third">
                <img src="file:///app/uploads/document/pdf/contact_artist.jpg" width="100%"
                     alt="Contact Artistique"/>
                <div class="grid-item">
                    <h3>Jean-François Capéran</h3>
                    <p>06.31.24.90.65</p>
                    <p>feelarsen.production@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="frame">
        <h2>Contact Technique</h2>

        <div class="content">
            <div class="grid third">
                <img src="file:///app/uploads/document/pdf/contact_technical.jpg" width="100%"
                     alt="Contact Technique"/>
                <div class="grid-item">
                    <h3>Nicolas Vauché</h3>
                    <p>06.83.57.30.67</p>
                    <p>nvauche@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="frame">
        <h2>Contact Booking</h2>

        <div class="content">
            <div class="grid third">
                <img src="file:///app/uploads/document/pdf/bss_logo.png" width="100%"
                     alt="Contact Booking"/>
                <div class="grid-item">
                    <h3>Bastard Sound System</h3>
                    <p>06.83.57.30.67</p>
                    <p>contact@bastardsoundsystem.org</p>
                </div>
            </div>
        </div>
    </div>
</section>
