<!-- Contenu Technique -->
<section class="content-page">
    <h1>Le Matériel</h1>

    <div class="frame">
        <h2>Matériel porté par le groupe</h2>

        <div class="content">
            <p>
                Le groupe se déplace avec son propre backline et son ingénieur son. Nous pouvons (sous conditions)
                apporter notre système de sonorisation FOH et plateau, ainsi que notre console de mixage.
            </p>

            <h3>Sonorisation</h3>

            <ul>
                <li>Console de mixage numérique</li>
                <li>Enceintes de façade amplifiées + subs</li>
                <li>Enceintes de retour</li>
                <li>Microphones et stands</li>
                <li>Câblerie complète</li>
            </ul>

            <h3>Éclairage</h3>

            <ul>
                <li>Projecteurs PAR Led avec pieds</li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <h2>Matériel à fournir</h2>

        <div class="content">
            <p>
                Merci de prévoir un espace de stockage du matériel et des flight-cases à l’abri du vol, et des
                intempéries si concert en extérieur.
            </p>

            <h3>Électricité</h3>

            <p>
                Sur scène, tout le backline devra être câblé sur des alimentations 16A / 220V protégées et séparées des
                éclairages, des fours, friteuses et frigos.
            </p>

            <ul>
                <li>2 lignes électriques sur le plateau</li>
                <li>1 ligne électrique en régie</li>
            </ul>

            <h3>Sonorisation</h3>

            <p>
                En cas d'accueil, merci de préciser le modèle de la table de mixage mise à disposition, de préparer les
                branchements et les routages, et de préparer les effets suivants (AUX) :
            </p>

            <ul>
                <li>Small Hall Reverb : Batterie</li>
                <li>Large Hall Reverb : Chant (All)</li>
                <li>Short Delay Mono : Chant (Lead)</li>
            </ul>

            <h3>Éclairage</h3>

            <p>
                Nous n’avons pas de technicien lumière, la salle devra gérer indépendamment la lumière scénique en cas
                de besoin. Si cela n’est pas possible, merci de nous le préciser pour que nous trouvions une personne
                disponible. Nous préférons les couleurs chaudes, claires et dynamiques.
            </p>
        </div>
    </div>
</section>

<section class="content-page scene">
    <h1>Le Plan de Scène</h1>

    <img src="file:///app/uploads/document/pdf/scene.png" width="100%" height="250mm" alt="Plan de scène"/>
</section>

<!-- Saut de page -->
{# <div class="page-break"></div> #}

<section class="content-page patch">
    <h1>Full Patch List</h1>

    <table class="patch mb-6">
        <thead>
            <tr>
                <th>In</th>
                <th>Musicien</th>
                <th>Instrument</th>
                <th>Prise de son</th>
                <th>Insert</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Manu</td>
                <td>Kick IN</td>
                <td>Shure Beta91</td>
                <td>Gate / Comp</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Manu</td>
                <td>Kick OUT</td>
                <td>Shure Beta52</td>
                <td>Gate / Comp</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Manu</td>
                <td>Snare BOT</td>
                <td>Shure SM57</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Manu</td>
                <td>Snare TOP</td>
                <td>Shure SM57</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Manu</td>
                <td>Hi-Hat TOP</td>
                <td>Shure SM57</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Manu</td>
                <td>Tom RACK</td>
                <td>Sennheiser e904</td>
                <td>Gate / Comp</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Manu</td>
                <td>Tom FLOOR</td>
                <td>Sennheiser e902</td>
                <td>Gate / Comp</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Manu</td>
                <td>Overhead LEFT</td>
                <td>Neumann KM184</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Manu</td>
                <td>Overhead RIGHT</td>
                <td>Neumann KM184</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Ben</td>
                <td>Basse DI</td>
                <td>&nbsp;</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Ben</td>
                <td>Basse MIC</td>
                <td>Sennheiser e902</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>12</td>
                <td>JF</td>
                <td>Guitare MIC</td>
                <td>Sennheiser e906</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>13</td>
                <td>JF</td>
                <td>Guitare MIC</td>
                <td>Shure SM57</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>14</td>
                <td>JF</td>
                <td>Chant LEAD</td>
                <td>Shure Beta57</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Ben</td>
                <td>Chant Chœur</td>
                <td>Shure SM58</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Manu</td>
                <td>Chant Chœur</td>
                <td>Shure SM58</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>17/18</td>
                <td>Musique INTRO / OUTRO</td>
                <td>&nbsp;</td>
                <td>Stereo In ou BSS AR133 (x2)</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <table class="patch">
        <thead>
            <tr>
                <th>Out</th>
                <th>Musicien</th>
                <th>Type</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>JF (Front - Jardin)</td>
                <td>Floor-Stage Monitor 300W</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ben (Front - Cour)</td>
                <td>Floor-Stage Monitor 300W</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Manu (Back - Centre)</td>
                <td>In-Ear Monitor LEFT</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Manu (Back - Centre)</td>
                <td>In-Ear Monitor RIGHT</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="content-page patch">
    <h1>Small Patch List</h1>

    <table class="patch mb-6">
        <thead>
            <tr>
                <th>In</th>
                <th>Musicien</th>
                <th>Instrument</th>
                <th>Prise de son</th>
                <th>Insert</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Manu</td>
                <td>Kick OUT</td>
                <td>Shure Beta52</td>
                <td>Gate / Comp</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Manu</td>
                <td>Snare TOP</td>
                <td>Shure SM57</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Manu</td>
                <td>Overhead LEFT</td>
                <td>Rode M5</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Manu</td>
                <td>Overhead RIGHT</td>
                <td>Rode M5</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Ben</td>
                <td>Basse DI</td>
                <td>&nbsp;</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>6</td>
                <td>JF</td>
                <td>Guitare MIC</td>
                <td>Sennheiser e609</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>7</td>
                <td>JF</td>
                <td>Chant LEAD</td>
                <td>Shure SM58</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Ben</td>
                <td>Chant Chœur</td>
                <td>Shure SM58</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Manu</td>
                <td>Chant Chœur</td>
                <td>Shure SM58</td>
                <td>Comp</td>
            </tr>
            <tr>
                <td>10/11</td>
                <td>Musique INTRO / OUTRO</td>
                <td>&nbsp;</td>
                <td>Stereo In ou BSS AR133 (x2)</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <table class="patch">
        <thead>
            <tr>
                <th>Out</th>
                <th>Musicien</th>
                <th>Type</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>JF (Front - Jardin)</td>
                <td>Floor-Stage Monitor 300W</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ben (Front - Cour)</td>
                <td>Floor-Stage Monitor 300W</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Manu (Back - Centre)</td>
                <td>In-Ear Monitor LEFT</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Manu (Back - Centre)</td>
                <td>In-Ear Monitor RIGHT</td>
            </tr>
        </tbody>
    </table>
</section>
