&#biographie {
  .app-card {
    &.inactive {
      &::before {
        content: "Wanted";
        top: 0.75rem;
        right: -1.6rem;
        transform: rotate(45deg);
      }
    }

    .card-image {
      img {
        @include respondTo(md) {
          height: 50dvh;
          object-position: center 20%;
        }
      }
    }
  }
}

&.biography {
  .app-grid {
    grid-gap: 1rem;

    &.third {
      &:nth-child(odd) {
        @include respondTo(md) {
          grid-template-columns: 6fr 4fr;

          .content {
            order: 2;
          }

          .photo {
            order: 1;
          }
        }
      }

      .content {
        @include displayFlex(null, center);
        padding: 1rem;
        color: $black;
        background-color: $yellow;
        @include radius(medium);

        @include respondTo(md) {
          padding: 1rem 2rem;
        }

        p {
          margin: 0;
          font-size: 1.25rem;
          line-height: 2rem;
        }
      }

      .photo {
        img {
          @extend .d-block;
          width: 100%;
          object-fit: cover;
          max-height: 45dvh;
          @include radius(medium);
        }
      }
    }
  }
}
