&.form {
  padding: 1rem;

  @import "../../form";

  .app-form {
    @include respondTo(md) {
      &:not(:has(.app-grid)) {
        margin: 0 auto;
        width: 50dvw;
      }

      .form-fieldset {
        margin-bottom: 0 !important;
      }

      .form-submit {
        color: $yellow !important;
        background-color: $black !important;
      }
    }
  }
}
