.app-section {
  padding: 3rem 1rem;

  @include respondTo(md) {
    margin: 0 auto;
    width: 1200px;
  }

  &.large {
    @include respondTo(md) {
      width: 96dvw;
    }
  }

  @import "./cover";
}
