/* BLOCK STYLES */
.d-block {
  display: block;
}

/* BORDER STYLES */
.border-top {
  border-top: 0.5rem solid $yellow;
}

.border-bottom {
  border-bottom: 0.5rem solid $yellow;
}

/* VISIBILITY STYLES */
.disabled {
  opacity: 0.75;
  pointer-events: none;
}

/* COLOR STYLES */
.text-info {
  color: $info !important;
}

.text-success {
  color: $success !important;
}

.text-danger {
  color: $danger !important;
}
