/* FONTS */
$font-primary: 'Ubuntu', sans-serif;
$font-secondary: 'Infield Rough', sans-serif;

/* COLORS */
$black: #111111;
$white: #ffffff;
$yellow: #ffe900;
$info: #36739c;
$success: #10784b;
$warning: #d8802a;
$danger: #d43747;
$facebook: #1877f2;
$bandcamp: #629aa9;
$dailymotion: #ffffff;
$youtube: #ff0000;
$instagram: #405de6;
$spotify: #1db954;
$deezer: #ff0000;
$apple-music: #fa586a;
