/* FONTS */
$font-primary: 'Ubuntu', sans-serif;
$font-secondary: 'Infield Rough', sans-serif;

/* COLORS */
$black: #000000;
$white: #ffffff;
$yellow: #ffe900;
$info: #3a7ca5;
$success: #5cb85c;
$warning: #f0ad4e;
$danger: #d9534f;
$spotify: #1db954;
$deezer: #ff0000;
$facebook: #1877f2;
$bandcamp: #629aa9;
