.app-card {
  position: relative;
  overflow: hidden;
  @include displayFlex(space-between, center, null, column);
  background-color: $yellow;
  @include radius(medium);
  @include transition;

  @include respondTo(md) {
    background-color: $black;
  }

  &:hover {
    background-color: rgba($white, 0.15);

    @include respondTo(xs) {
      .card-body {
        .card-title,
        h4 {
          color: $yellow;
        }

        h5 {
          color: $white;
        }
      }
    }
  }

  &.inactive {
    &::before {
      content: "Non Confirmé";
      position: absolute;
      top: 1.5rem;
      right: -1.75rem;
      z-index: 1;
      padding: 0.5rem 1.5rem;
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      background-color: $warning;
      transform: rotate(42deg);
      box-shadow: 1px 1px 2px rgba($black, 0.5);
    }
  }

  &.disabled {
    &::before {
      content: "Terminé";
      position: absolute;
      top: 0.75rem;
      right: -1.5rem;
      z-index: 1;
      padding: 0.5rem 1.75rem;
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      background-color: $danger;
      transform: rotate(42deg);
      box-shadow: 1px 1px 2px rgba($black, 0.5);
    }
  }

  .card-image {
    width: 100%;

    img {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

      @include respondTo(md) {
        width: 100%;
        height: 30dvh;
        object-fit: cover;
      }
    }
  }

  .card-body {
    padding: 1rem 0.5rem;

    .card-title {
      margin-bottom: 0.5rem;
    }

    @include respondTo(xs) {
      .card-title,
      h4,
      h5 {
        color: $black;
        @include transition;
      }
    }
  }

  .card-footer {
    @include displayFlex(center, null, 1rem);
    padding-bottom: 1rem;
    margin: 0 1rem;
    width: calc(100% - 2rem);

    a {
      @include displayFlex(center, center);
      flex: 1;
      padding: 0.25rem;
      text-align: center;
      background-color: $yellow;
      @include radius(small);
    }
  }
}
