.app-alert {
  padding: 1.5rem 1rem 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  background-color: $white;
  @extend .border-bottom;

  &.info {
    color: $white;
    background-color: $info;
  }

  &.success {
    color: $white;
    background-color: $success;
  }

  &.warning {
    color: $white;
    background-color: $warning;
  }

  &.danger {
    color: $white;
    background-color: $danger;
  }
}
