.app-grid {
  @include displayGrid(1fr, 1.5rem);

  &.two {
    &.xs {
      @include displayGrid(repeat(2, 1fr), 1rem);
    }

    @include respondTo(md) {
      @include displayGrid(repeat(2, 1fr), 1.5rem);
    }
  }

  &.three {
    &.xs {
      @include displayGrid(repeat(3, 1fr), 1rem);
    }

    @include respondTo(md) {
      @include displayGrid(repeat(3, 1fr), 1.5rem);
    }
  }

  &.four {
    &.xs {
      @include displayGrid(repeat(4, 1fr), 1rem);
    }

    @include respondTo(md) {
      @include displayGrid(repeat(4, 1fr), 1.5rem);
    }
  }

  &.five {
    &.xs {
      @include displayGrid(repeat(5, 1fr), 1rem);
    }

    @include respondTo(md) {
      @include displayGrid(repeat(5, 1fr), 1.5rem);
    }
  }

  &.third {
    &:nth-child(even) {
      @include respondTo(md) {
        @include displayGrid(4fr 6fr, 1.5rem);
      }
    }

    &:nth-child(odd) {
      @include respondTo(md) {
        @include displayGrid(6fr 4fr, 1.5rem);
      }

      .content {
        @include respondTo(md) {
          order: 2;
        }
      }

      .photo {
        @include respondTo(md) {
          order: 1;
        }
      }

      .tracks {
        @include respondTo(md) {
          order: 1;
        }
      }

      .cover {
        @include respondTo(md) {
          order: 2;
        }
      }
    }

    .content,
    .tracks {
      @include displayFlex(null, center);
      flex-wrap: wrap;
      padding: 1rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
      text-align: justify;
      color: $black;
      background-color: $yellow;
      border-radius: 0.25rem;

      .fullwidth {
        width: 100%;
      }
    }

    .tracks {
      display: block;

      .infos {
        text-align: center;
      }
    }

    .photo,
    .cover {
      img {
        width: 100%;

        @include respondTo(md) {
          height: 40dvh;
          object-fit: cover;
          border-radius: 0.25rem;
        }
      }
    }
  }

  &.spaced {
    gap: 3rem;
  }

  &.flex {
    @include respondTo(md) {
      @include displayFlex(center, center);

      & > div {
        flex: 1;
      }
    }
  }
}
