.app-footer {
  padding: 0.5rem 1rem;
  margin-bottom: 4.5rem;
  font-size: 0.85rem;
  color: $black;
  background-color: $yellow;

  @include respondTo(md) {
    @include displayFlex(space-between, center);
    margin-bottom: 0;
  }

  a {
    color: $black;
  }

  @include respondTo(xs) {
    p {
      text-align: center;

      &.copyrights {
        margin-bottom: 1rem;
      }
    }
  }
}
