.app-header {
  position: sticky;
  top: 0;
  z-index: 9997;
  @include displayFlex(center, center);
  background-color: $black;
  border-bottom: 0.5rem solid $yellow;

  @include respondTo(md) {
    padding: 0.5rem 1rem;
  }

  .app-logo {
    display: block;

    img {
      display: block;

      @include respondTo(md) {
        height: 7rem;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
