.app-header {
  @include displayFlex(center, center);
  border-bottom: 0.5rem solid $yellow;

  @include respondTo(md) {
    position: sticky;
    top: 0;
    z-index: 9997;
    padding: 0.5rem 1rem;
    background-color: $black;
  }

  .app-logo {
    display: block;

    img {
      display: block;

      @include respondTo(md) {
        height: 7rem;
      }
    }
  }
}
