<section class="cover-page back">
    <img src="file:///app/uploads/document/pdf/bss_logo.png" alt="Bastard Sound System"/>

    <h1>
        <a href="tel:+33682573067">06.83.57.30.67</a>
    </h1>
    <h2>
        <a href="mailto:contact@bastardsoundsystem.org">contact@bastardsoundsystem.org</a>
    </h2>
    <h2>
        <a href="https://www.bastardsoundsystem.org" target="_blank">www.bastardsoundsystem.org</a>
    </h2>
</section>
