<!-- Contenu Rider -->
<section class="content-page">
    <h1>Le Rider</h1>

    <div class="frame">
        <h2>Accès & mise en place</h2>

        <div class="content">
            <p>
                Merci de nous communiquer le lieu et les conditions de mise en place au minimum 2 semaines avant la date
                du concert.
            </p>
            <p>
                Si l’équipe se déplace en train ou en avion, merci de prévoir un moyen de transport pour rejoindre la
                salle.
            </p>
            <p>
                Si l’équipe se déplace en véhicule personnel, merci de prévoir au minimum 2 places de parking (dont une
                pour un utilitaire) le plus près possible de la scène.
            </p>
        </div>
    </div>

    <div class="frame">
        <h2>Installation & réglages</h2>

        <div class="content">
            <p>
                Merci de prévoir un espace de stockage sécurisé du matériel proche de la scène.
            </p>
            <ul>
                <li>Déchargement : 25 minutes</li>
                <li>Temps d’installation du plateau : 30 à 45 minutes</li>
                <li>Temps de réglages : 20 à 40 minutes</li>
                <li>Si changement de plateau : 15 minutes</li>
            </ul>
        </div>
    </div>

    <div class="frame">
        <h2>Accueil du groupe</h2>

        <div class="content">
            <p>
                Merci de prévoir au moins une personne informée sur le déroulement de la journée afin d’accueillir et
                d’informer l’équipe au moment de son arrivée.
            </p>
            <p>
                Merci de prévoir le nombre de pass nécessaires décidé en amont afin de faciliter l’installation de
                chacun.
            </p>
            <p>
                Une feuille de route détaillant le déroulement de la journée sera remise au régisseur du groupe. Dans
                l’idéal, elle contient les étapes attendues et leurs horaires (installation, balance, repas, etc.)
            </p>
        </div>
    </div>

    <div class="frame">
        <h2>Loges</h2>

        <div class="content">
            <p>
                Des loges pourront être mises à disposition avec éclairage, tables, chaises, toilettes, lumières,
                miroirs, etc.
            </p>
            <p>
                Cet espace devra pouvoir fermer à clé et donc être sécurisé.
            </p>
        </div>
    </div>

    <div class="frame">
        <h2>Catering</h2>

        <div class="content">
            <p>
                Merci de prévoir des bouteilles d’eau en loge et sur scène mises à disposition du groupe et du staff.
            </p>
            <p>
                Merci de prévoir un repas au moins 1h avant le début du concert ou 30min après le concert. Si cela n’est
                pas possible, merci de mettre à disposition des encas et sandwichs en loge.
            </p>
            <p>
                <strong>
                    Attention : l’un des membres est allergique aux arachides !
                </strong>
            </p>
        </div>
    </div>

    <div class="frame">
        <h2>Captations vidéos & photos</h2>

        <div class="content">
            <p>
                Le groupe accepte d’être filmé et pris en photo par une personne représentant la salle ainsi que par le
                public.
            </p>
            <p>
                Il est possible que notre photographe se déplace, il devra pouvoir accéder librement à la scène dans la
                mesure où il ne gêne pas le bon déroulement du concert.
            </p>
        </div>
    </div>

    <div class="frame">
        <h2>Hébergement</h2>

        <div class="content">
            <p>
                Si le groupe et son staff doivent dormir sur place en raison d’une distance trop importante, il faudra
                réserver des hébergements type hôtel ou Airbnb.
            </p>
            <p>
                Le nombre de chambres sera à définir avec l’organisateur en amont.
            </p>
            <p>
                Des places de parking devront aussi être mises à disposition si le déplacement s’est effectué en
                voiture.
            </p>
        </div>
    </div>

    <div class="frame">
        <h2>Merchandising</h2>

        <div class="content">
            <p>
                Nos CD et autres merchandisings pourront être vendus à la fin du concert par l’un de nos membres.
            </p>
            <p>
                Merci de prévoir un emplacement visible et éclairé accompagné d’une petite table à l’entrée de la salle.
            </p>
        </div>
    </div>

    <div class="frame">
        <h2>Invitations</h2>

        <div class="content">
            <p>
                Le groupe peut être amené à demander quelques invitations, celles-ci seront réclamées au préalable à
                l’organisateur.
            </p>
        </div>
    </div>
</section>
