<!-- Couverture Rider -->
<section class="cover-page">
    <svg class="section-svg"
         width="200mm"
         height="297mm"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 200 297">
        <defs>
            <clipPath id="clip-shape">
                <rect x="0" y="0" width="100" height="297"/>
                <path d="M 100 0 Q 200 148.5 100 297 Z"/>
            </clipPath>
        </defs>
        <image href="file:///app/uploads/document/pdf/cover_rider.jpg"
               width="200" height="297" clip-path="url(#clip-shape)" preserveAspectRatio="xMidYMid slice"/>
    </svg>

    <div class="sectiontitle">
        <h1>Rider</h1>
    </div>
</section>
